{% extends "base.html" %}

{% block content %}
<h3>Opciones</h3>
<p>
</p>

<div class="d-grid gap-2">
    <h4>Crear Hashes</h4>
    <p>Crea hashes para los archivos y guárdalos en la base de datos.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/file_verification/create_hashes';">Crear Hashes</button>
    
    <h4>Crear Backup</h4>
    <p>Esta funcionalidad te permite realizar copias de seguridad (backups) de los archivos especificados y guardarlos para preservar su contenido original. Los archivos seleccionados, ubicados en `/bin`, `/etc/passwd` y `/etc/shadow`, serán respaldados y almacenados en una ubicación segura.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/file_verification/create_backup';">Crear Copias de Seguridad</button>
    
    <h4>Verificar Modificación en Archivos</h4>
    <p>Comprueba si los archivos han sido modificados comparando los hashes actuales con los de la base de datos.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/file_verification/check_files';">Verificar Modificación</button>

</div>   
{% endblock %}