{% extends "base.html" %}
{% block content %}
    <div>
        <h1>Sniffers detectados</h1>
        {% if sniffers %}
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario ejecutor</th>
                        <th>PID</th>
                        <th>Sniffer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sniffer in sniffers %}
                        <tr>
                            <td>{{ sniffer.sniffer_user }}</td>
                            <td>{{ sniffer.sniffer_pid }}</td>
                            <td>{{ sniffer.sniffer_command }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}