{% extends "base.html" %}
{% block content %}
<div>
    <h1>Scripts encontrados</h1>
    {% if quarantined_message %}
        <div class="alert alert-success" role="alert">
            {{ quarantined_message }}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {% if scripts %}
            <table class="table table-bordered table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Nombre del Archivo Script</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in scripts %}
                        <tr>
                            <td>{{ file.file_name }}</td>
                            <td><input class="form-check-input" type="checkbox" name="quarantine_files" value="{{ file.file_name }}"></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Enviar a Cuarentena</button>
        {% else %}
            No se encontraron archivos script en el directorio /tmp.
        {% endif %}
    </form>
</div>
{% endblock %}