{% extends "base.html" %}

{% block content %}
<h1>Cron encontrados</h1>
    <br />
    <table class=table>
        <thead>
            <tr>
                <th scope="col">Usuario</th>
                <th scope="col" >Archivo</th>
            </tr>
        </thead>
        <tbody>
            {% for cron in crons %}
            <tr>
                <td>{{ cron.cron_user }}</td>
                <td>{{ cron.cron_file }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}