{% extends "base.html" %}

{% block content %}
<h1>Opciones</h1>
<p>
</p>

<div class="d-grid gap-2">
    <h3>Crear Hashes</h3>
    <p>Crea hashes para los archivos y guárdalos en la base de datos.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/file_verification/create_hashes';">Crear Hashes</button>
    
    <h3>Verificar Modificación en Archivos</h3>
    <p>Comprueba si los archivos han sido modificados comparando los hashes actuales con los de la base de datos.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href='/file_verification/check_files';">Verificar Modificación</button>
</div>   
{% endblock %}