{% extends "base.html" %}

{% block content %}
<div class="d-grid gap-2">
    <h3>Verificación de Consumo de Memoria RAM</h3>
    <p>Realiza una comprobación exhaustiva del consumo de memoria RAM en tu sistema. Detectaremos y resolveremos cualquier problema de alto consumo que pueda afectar el rendimiento y estabilidad de tu aplicación.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href = '/high_consumed_resources/check_ram';">Verificar Ram</button>

    <h3>Verificación de Consumo de CPU</h3>
    <p>Comprueba el nivel de consumo de CPU en tu dispositivo. Si detectamos altos niveles de uso, realizaremos ajustes para mejorar la eficiencia y evitar sobrecargas en el rendimiento.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href = '/high_consumed_resources/check_cpu';">Verificar Cpu</button>
</div>
{% endblock %}