{% extends "base.html" %}

{% block content %}
<h3>Opciones de Seguridad</h3>
<div class="d-grid gap-2">
    <h4>Verificación de extensiones dudosas en /tmp</h4>
    <p>Verifica las extensiones de archivos almacenados en el directorio /tmp mediante una lista negra de extensiones potencialmente peligrosas. Esta revisión ayudará a identificar y eliminar archivos con extensiones sospechosas que podrían representar una amenaza para la seguridad.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href = '/tmp_directory_checker/check_tmp_extension/';">Realizar Verificación</button>
    
    <h4>Verificación de scripts en /tmp</h4>
    <p>Comprueba si existen scripts o archivos ejecutables en el directorio /tmp.</p>
    <button class="btn btn-primary" type="button" onclick="window.location.href = '/tmp_directory_checker/check_tmp_script/';">Realizar Verificación</button>
</div>
{% endblock %}