{% extends "base.html" %}

{% block content %}
<h1>Usuarios conectados</h1>
    {% if users %}
        <br />
        <table class=table>
            <thead>
                <tr>
                    <th>Nombre de usuario</th>
                    <th>Terminal</th>
                    <th>IP</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.user_name }}</td>
                        <td>{{ user.user_terminal }}</td>
                        <td>{{ user.user_ip }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
</div>
{% endblock %}