{% extends "base.html" %}
{% block content %}
    <div>
        <h3>Procesos con Alto Consumo de CPU</h3>   
        <p>Detectando procesos con alto consumo de CPU</p>
        <p>En esta sección se muestran los procesos que han estado en ejecución durante más de 3 minutos o que consumen más del 80% de la capacidad del CPU. Estos procesos pueden impactar negativamente en el rendimiento y la estabilidad del sistema.</p>
        {% if kill_process_message %}
            <div class="alert alert-success" role="alert">
                {{ kill_process_message }}
            </div>
        {% endif %}
            <form method="post">
                {% csrf_token %}
                {% if processes %}
                    <table class=table>
                        <thead>
                            <tr>
                                <th>PID</th>
                                <th>Consumo de Cpu(%)</th>
                                <th>Tiempo de Ejecucion</th>
                                <th>Comando</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for process in processes %}
                                <tr>
                                    <td>{{ process.processes_pid }}</td>
                                    <td>{{ process.processes_pcpu }}</td>
                                    <td>{{ process.processes_time }}</td>
                                    <td>{{ process.processes_comm }}</td>
                                    <td><input class="form-check-input" type="checkbox" name="pid_list" value="{{  process.processes_pid }}"></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-primary">Detener proceso</button>
                {% else %}
                    No se encontraron procesos que estuvieran consumiendo masivamenten la cpu.
                {% endif %}
            </form>
    </div>
{% endblock %}